.app_green_theme {
    --bg-color: #f4fbf6;
    --inverted-bg-color: #5b8968;
    --secondary-color: #f4fbf6;
    --inverted-secondary-color: #57714b;
    --primary-color: #57714b;
    --inverted-primary-color: #f4fbf6;
}
