:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;

  --primary-color: #c23c02;
  --secondary-color: #0d6efd;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #cd04ff;
}

// .app.light {
//   --bg-color: var(--bs-body-bg, #f8f9fa);
//   --primary-color: var(--bs-primary, #0d6efd);
//   --secondary-color: var(--bs-secondary, #6c757d);

//   --inverted-bg-color: var(--bs-body-bg, #212529);
//   --inverted-primary-color: var(--bs-primary, #0d6efd);
//   --inverted-secondary-color: var(--bs-secondary, #adb5bd);
// }
